extends ../layouts/layout

block params
    - class_body = "documents-page"
    - title_page = "Documents"
block css
block main
    section.documents
        .container
            h1 button primary
            button.btn.btn-sm.btn-primary primary
            button.btn.btn-sm.btn-outline-primary primary
            button.btn.btn-primary primary
            button.btn.btn-outline-primary primary
            button.btn.btn-lg.btn-primary primary
            button.btn.btn-block.btn-lg.btn-primary primary
            h1 button secondary
            button.btn.btn-sm.btn-secondary secondary
            button.btn.btn-sm.btn-outline-secondary secondary
            button.btn.btn-secondary secondary
            button.btn.btn-outline-secondary secondary
            button.btn.btn-lg.btn-secondary secondary
            button.btn.btn-block.btn-lg.btn-secondary secondary
            h1 button success
            button.btn.btn-sm.btn-success success
            button.btn.btn-sm.btn-outline-success success
            button.btn.btn-success success
            button.btn.btn-outline-success success
            button.btn.btn-lg.btn-success success
            button.btn.btn-block.btn-lg.btn-success success
            h1 button info
            button.btn.btn-sm.btn-info info
            button.btn.btn-sm.btn-outline-info info
            button.btn.btn-info info
            button.btn.btn-outline-info info
            button.btn.btn-lg.btn-info info
            button.btn.btn-block.btn-lg.btn-info info
            h1 button warning
            button.btn.btn-sm.btn-warning warning
            button.btn.btn-sm.btn-outline-warning warning
            button.btn.btn-warning warning
            button.btn.btn-outline-warning warning
            button.btn.btn-lg.btn-warning warning
            button.btn.btn-block.btn-lg.btn-warning warning
            h1 button error
            button.btn.btn-sm.btn-error error
            button.btn.btn-sm.btn-outline-error error
            button.btn.btn-error error
            button.btn.btn-outline-error error
            button.btn.btn-lg.btn-error error
            button.btn.btn-block.btn-lg.btn-error error